* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,footer{
    background-color: #fec8c9;
    color: #fff;
    width: 100%;
}

.logo_jusce img {
    height: 50px; /* Testando para ter a logo no header */
    width: auto;
    display: block;   
}

footer{
    margin-top: auto;
    bottom: 0;
    text-align: center;
    font-size: 22px;
    padding: 10px 0;
}

header h2{
    font-size: 20px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 40px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
    text-transform: capitalize;
}