* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,footer{
    background-color: #fec8c9;
    color: #fff;
    width: 100%;
}

.logo_jusce img {
    height: 50px; /* Testando para ter a logo no header */
    width: auto;
    display: block;   
}

footer{
    margin-top: auto;
    bottom: 0;
    text-align: center;
    font-size: 22px;
    padding: 10px 0;
}

header h2{
    font-size: 20px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 40px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
    text-transform: capitalize;
}
/* HERO */
.hero {
  height: 80vh;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url("https://via.placeholder.com/1600x900") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.hero-content h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

/* BOTÕES */
.btn-primary {
  background-color: #fff;
  color: #e75480;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #e75480;
  color: #fff;
}

.btn-secondary {
  background-color: #fec8c9;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-secondary:hover {
  background-color: #e75480;
  color: #fff;
}

/* SEÇÕES */
section {
  padding: 80px 20px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.sobre p {
  max-width: 700px;
  margin: 20px auto;
  font-size: 18px;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  background-color: #fff;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: 0.3s;
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  display: block;
}

.card h3 {
  margin: 15px 0 10px;
}

.card p {
  padding: 0 15px 15px;
}

.card:hover {
  transform: translateY(-10px);
}

